<p style="color: green"><%= notice %></p>

<%= simple_form_for(@guest) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: "שם מלא", required: true %>
    <%= f.input :status, collection: [["מגיע.ה", "coming"], ["לא מגיע.ה", "not_coming"]], label: "מגיע.ה?", required: true %>
    <%= f.input :amount, label: "כמה תגיעו?", required: true %>
    <%= f.input :people, label: "שמות האורחים/ות שיגיעו איתכם/ן?" %>
    <%= f.button :submit, "שליחה" %>
  </div>
<% end %>

<%= image_tag 'star.webp', class: "bg-img" %>