<p class="guest-notice"><%= notice %></p>

<%= simple_form_for(@guest) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs guest-inputs">
    <%= f.input :name, label: "שם מלא", required: true %>
    <%# f.input :status, collection: [["מגיע.ה", "coming"], ["לא מגיע.ה", "not_coming"]], label: "מגיע.ה?", required: true %>
    <%= f.input :amount, label: "כמה תגיעו?", required: true %>
    <%= f.input :people, label: "שמות האורחים/ות שיגיעו איתכם/ן?" %>
    <div class="checkbox">
      <input class="boolean optional check" type="checkbox" value="1" name="guest[is_sleeping]" id="guest_is_sleeping">
      <label for="check1" class="label">
        <svg viewBox="0 0 100 100" height="50" width="50">
          <rect x="30" y="20" width="50" height="50" stroke="black" fill="none" />
          <g transform="translate(0,-952.36216)" id="layer1">
            <path id="path4146" d="m 55,978 c -73,19 46,71 15,2 C 60,959 13,966 30,1007 c 12,30 61,13 46,-23" fill="none" stroke="black" stroke-width="3" class="path1" />
          </g>
        </svg> 
        <span>האם תישארו לישון?</span>
      </label>
    </div>
    <%= f.button :submit, "שליחה" %>
    
  </div>
<% end %>

<%= image_tag 'star.webp', class: "bg-img relative" %>