<p style="color: green"><%= notice %></p>
<div class="menu-page">תודה רבה שהחלטתם/ן לקחת חלק בסעודת החתונה!
נזכיר שהחתונה טבעונית (ללא בשר, עוף, דגים, מוצרי חלב וביצים)

התפריט מחולק לקטגוריות ובהמשך העמוד תוכלו להוסיף את המטעמים שלכם/ן לפי הקטגוריה המתאימה. אנחנו ממליצים להציץ לפני זה בתפריט כדי לוודא שהמנה שחשבתם/ן להביא עדיין לא רשומה, ולראות מה עדיין חסר.
שתייה ופוקאצ'ות עלינו (:

אתם/ן מוזמנים/ות להביא מנה לפי רצונכם/ן בדומה לארוחת חג משפחתית, לא צריך לבשל ל-300 אורחים/ות.
נשמח שתביאו את המטעמים בכלי הגשה, עדיפות לרב פעמי, שיחזור אליכם נקי ומצוחצח בסוף האירוע.
במקום יהיו תנורי חימום ומקררים.

במידה והכנתם/ן מנה המכילה אלרגנים מסויימים (גלוטן, אגוזים, שומשום) או ללא סוכר נשמח שתציינו זאת.
אחרי שהוספתם/ן את המנה תוכלו לרענן את העמוד כדי לראות אותה בתוך התפריט.
תודה רבה!
במידה וקיים קושי בשליחת מנה או שאתם/ן רוצות/ים לשנות משהו מוזמנים/ות לשלוח הודעה לעומרי סרבי, טלפון: <%= link_to "0526877404", "https://api.whatsapp.com/send?phone=972526877404", class: "link" %>

</div>
<%= image_tag 'leaf2.webp', class: "bg-img" %>
<h1>
הוסיפו כאן את המנה שלכם/ן</h1>
<%= simple_form_for(@food) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, required: true, label: "שם המנה" %>
    <%= f.input :guest_name, required: true, label: "שם האורח.ת" %>
    <%= f.association :category, label: "קטגוריה" %>
    <%= f.button :submit, "שליחה" %>
  </div>
<% end %>
<div class="foods">
  <% @categories.each do |category| %>
  <div class="category">
    <h1>
      <%= category.title %>
    </h1>
    <h3>
     <%= category.description %>
    </h3>
    <% category.foods.each do |food|%>
    <div class="food">
      <h2 class="title">
        <%= food.title %>
      </h2>
      <%= food.guest_name %>
    </div>
      <% end %>
  </div>
  <% end %>
</div>